/**
 * Please edit as needed
 */

body { font-size: 2em; }

header, footer {
	background: #000;
	color: #fff;
	padding: 1em;
	text-align: center;
}

.grid {
	overflow: hidden;
	padding: 15px;

	max-width: 1280px;
}

.grid-item {
	float: left;
	padding: 0 0 50%;
	position: relative;
	width: 50%;
}

.grid-item .inner {
	position: absolute;
	top: 15px;
	bottom: 15px;
	right: 15px;
	left: 15px;
	padding: 15px;
	box-shadow: 0 0 10px #999;
}

.grid-item .inner span{
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-item-1 .inner { background-color: rgba( 0, 0, 0, .1 ); }
.grid-item-2 .inner { background-color: rgba( 255, 0, 0, .1 ); }
.grid-item-3 .inner { background-color: rgba( 0, 255, 0, .1 ); }
.grid-item-4 .inner { background-color: rgba( 0, 0, 255, .1 ); }
.grid-item-5 .inner { background-color: rgba( 255, 0, 255, .1 ); }
.grid-item-6 .inner { background-color: rgba( 255, 255, 0, .1 ); }

.grid-item-1 {
	width: 50%;
	height: 25%;
	padding: 0 0 25%;
	order: 2;
}
.grid-item-2 {
	width: 25%;
	height: 25%;
	padding: 0 0 25%;
	order: 1;
}
.grid-item-3 {
	width: 25%;
	float: right;
	order: 3;
}
.grid-item-4 {
	width: 50%;
	order: 4;
}
.grid-item-5 {
	width: 25%;
	height: 25%;
	padding: 0 0 25%;
	order: 5;
}
.grid-item-6 {
	width: 50%;
	height: 25%;
	padding: 0 0 25%;
	order: 6;
}

@media only screen and (max-width: 991px) {
	.grid-item-1 {
		width: 100%;
		padding: 0 0 33.3%;
	}
	.grid-item-2 {
		width: 33.3%;
		padding: 0 0 33.3%;
	}
	.grid-item-3 {
		width: 33.3%;
		padding: 0 0 66.6%;
	}
	.grid-item-4 {
		width: 66.6%;
		padding: 0 0 66.6%;
	}
	.grid-item-5 {
		width: 33.3%;
		padding: 0 0 33.3%;
	}
	.grid-item-6 {
		width: 33.3%;
		padding: 0 0 33.3%;
	}
}

@media only screen and (max-width: 767px) {
	.grid-item-1, .grid-item-4 {
		width: 100%;
		padding: 0 0 50%;
	}
	.grid-item-2, .grid-item-3, .grid-item-5, .grid-item-6 {
		width: 50%;
		padding: 0 0 50%;
	}
}

@media only screen and (max-width: 480px) {
	.grid-item {
		width: 100%;
		padding: 0 0 100%;
	}
}
